
body{
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb{
  background: #07c898;
  border-radius:5px;
}
#titulo{
  color: #078061;
  font-size:1.7cm;
  font-family: 'Rampart One', cursive;
	text-align: center;
  margin-bottom: 10px;
  margin-top: 0px;
}
.cabecera{
  font-family: 'Arima Madurai', cursive;
  text-align: left;
  font-size: 0.65cm;
  padding:1.8%;
  background-color: #07c898;
}
.boton_atras{
  text-decoration: none;
  font-family: 'Arima Madurai', cursive;
  padding: 10px;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  background-color: #07c898;
  border-radius: 6px;
  border: 2px solid #078061;
}
.boton_atras:hover{
  color: #1883ba;
  background-color: #ffffff;
}
.barra_categorias{
  background-color: #31e6b8;
}
.boton_categoria{
  margin-top: 6px;
  margin-bottom: 6px;
  text-decoration: none;
  font-family: 'Arima Madurai', cursive;
  padding: 7px;
  font-weight: 600;
  font-size: 30px;
  color: #ffffff;
  background-color: #31e6b8;
  border-radius: 6px;
	border: none;
}
.boton_categoria:hover{
  color: #ffffff;
  background-color: #07c898;
}
.boton_categoria:focus{
  color: #ffffff;
  background-color: #07c898;
  border-color: #07c898;
}
.boton_cerrar_sesion{
  display: inline-block;
  text-decoration: none;
  font-family: 'Arima Madurai', cursive;
  padding: 3px;
  font-weight: 600;
  font-size: 25px;
  color: #08374e;
  background-color: #0000;
  border-radius: 5px;
  border: 2px solid #08374e;
}
.boton_cerrar_sesion:hover{
  background-color: #a9cfe2;
}
.boton_cuento{
  width:250px;
  font-family: 'Arima Madurai', cursive;
  text-decoration: none;
  padding: 4px;
  margin-top: 2px;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 0.53cm;
  color: #ffffff;
  background-color: #07c898;
  border-radius: 5px;
  border: 2px solid #078061;
}
  .boton_cuento:hover{
    color: #1883ba;
    background-color: #ffffff;
  }
#subtitulo{
	padding-left: 20px;
}

h1{
  font-family: 'Arima Madurai', cursive;
}

#botonCerr{
  display: inline-block;
  float: right;
  margin-top: 13px;
}
.general{
  min-width: 100%;
  max-height: 100%;
  margin-bottom: 15px;
}


.textoHeader{
  display: inline-block;
}
@media screen and (max-width:990px){
  .textoHeader{
    display: none;
  }
}
@media screen and (max-width: 610px) {
  #titulo{
   font-size: 0.8cm;
   margin-top: 10px;
  }
  .boton_atras{
    font-size: 15px;
    border-radius: 3px;
    padding: 3px;
 }
 .cabecera{
  font-size: 0.4cm;
  }
  #logo{
  height: 60px;
  }
  .boton_cerrar_sesion{
    padding: 2px;
    margin-top: 10px;
    font-size: 13.5px;
  } 
  .boton_categoria{
    font-size: 20px;
  }
  
}