body{
    overflow-x: hidden;
    width: 100%;
 }
body::-webkit-scrollbar {
    width: 10px;
  }
body::-webkit-scrollbar-thumb{
    background: #10BCE3;
    border-radius:5px;
}

#boton{
	font-family: 'Leckerli One', cursive;
	font-size: large;
}
.cabecera{
  font-family: 'Leckerli One', cursive;
  text-align: left;
  font-size: 0.75cm;
  padding:1.95%;
  min-width: 580px;
  background-color: #10BCE3;
}
.boton_registro{
    text-decoration: none;
	  font-family: 'Leckerli One', cursive;
    padding: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 35px;
    color: #1883ba;
    background-color: #0000;
    border-radius: 5px;
    border: 2px solid #015e75;
}
.boton_registro:hover{
    background-color: #a9cfe2;
}
.boton_atras{
    text-decoration: none;
    padding: 9px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #07c898;
    border-radius: 6px;
    border: 2px solid #078061;
}
.boton_atras:hover{
    color: #1883ba;
    background-color: #ffffff;
}
.boton_cierreSesion{
    text-decoration: none;
  	font-family: 'Delius', cursive;
    padding: 9px;
    font-weight: 600px;
    font-size: 18px;
    color: #ffffff;
    background-color: #07657a;
    border-radius: 6px;
    border: 2px solid #06303a;
    float: right;
}
.boton_cierreSesion:hover{
    background-color: #a9cfe2;
}
.general{
    min-width: 100%;
    max-height: 100%;
}
@media screen and (max-width: 780px) {
  body{
    margin-top: 4rem;
  }
  .cabecera{
    font-size: 0.55cm;
  }
  #logo{
    height: 70px;
  }
  #titulo{
    font-size: 0.8cm;
  }
  #imagen{
    height: 180px;
  }
  .boton_registro{
    font-size: 22px;
  }
  .boton_cierreSesion{
    font-size: 13px;
  }
  .boton_atras:hover{
    font-size: x-small;
  }
  
}
@media screen and (max-width: 580px) {
    body{
      margin-top: 4rem;
    }
    .cabecera{
      font-size: 0.4cm;
    }
    #logo{
      height: 60px;
    }
    #titulo{
      font-size: 0.8cm;
    }
    #imagen{
      height: 180px;
    }
    .boton_registro{
      font-size: 24px;
    }
    .boton_cierreSesion{
      font-size: 14px;
    }
    .boton_atras:hover{
      font-size: x-small;
    }
    
}
@media screen and (max-width: 300px) {
  body{
    margin-top: 4rem;
  }
  .cabecera{
    font-size: 0.2cm;
  }
  #logo{
    height: 50px;
  }
  #titulo{
    font-size: 0.8cm;
  }
  #imagen{
    height: 180px;
  }
  .boton_registro{
    font-size: 20px;
  }
  .boton_cierreSesion{
    font-size: 17px;
  }
  .boton_atras:hover{
    font-size: x-small;
  }
  
}