body{
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb{
  background: #0aa9da;
  border-radius:5px;
}
.cabecera{
  font-family: 'Arima Madurai', cursive;
  text-align: left;
  font-size: 0.65cm;
  padding:1.8%;
  background-color: #0aa9da;
}

.boton_atras{
  text-decoration: none;
  font-family: 'Arima Madurai', cursive;
  padding: 10px;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  background-color: #0aa9da;
  border-radius: 6px;
  border: 2px solid #078061;
}
.boton_atras:hover{
  color: #1883ba;
  background-color: #ffffff;
}
.boton_cerrar_sesion{
  display: inline-block;
  text-decoration: none;
  font-family: 'Arima Madurai', cursive;
  padding: 3px;
  font-weight: 600;
  font-size: 25px;
  color: white;
  background-color: #0000;
  border-radius: 5px;
  border: 2px solid white;
}
.boton_cerrar_sesion:hover{
  background-color: #2480ad;
}

.boton_registro{
  font-family: 'Rampart One', cursive;
  width:42%;
  padding: 5px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 40px;
  color: #0c708f;
  background-color: #0000;
  border-radius: 5px;
  border: 2px solid #1799c0;
}

#botonCerr{
  display: inline-block;
  float: right;
  margin-top: 13px;
}

.textoHeader{
  display: inline-block;
}
@media screen and (max-width:1290px){
  .boton_registro{
    width: 55%;
  }
}
@media screen and (max-width:990px){
  .textoHeader{
    display: none;
    
  }
  .boton_registro{
    width: 70%;
  }
}
@media screen and (max-width:780px){
  .boton_registro{
    width: 85%;
  }
}
@media screen and (max-width:650px){
  .boton_registro{
    width: 88%;
  }
}

@media screen and (max-width: 610px) {
  .titulo{
   font-size: 0.8cm;
  }
  .boton_atras{
    font-size: 15px;
    border-radius: 3px;
    padding: 3px;
 }
 .cabecera{
  font-size: 0.4cm;
  }
  #logo{
  height: 60px;
  }
  .boton_cerrar_sesion{
    padding: 2px;
    margin-top: 10px;
    font-size: 13.5px;
  } 
  .boton_registro{
    font-size: 23px;
  }
  
}
@media screen and (max-width:380px){
  .boton_registro{
    width: 95%;
  }
}
@media screen and (max-width:350px){
  .textoHeader{
    display: none;
  }
  .boton_registro{
   font-size: 20px;
  }
}