header {
	background-color: #3DD6AF;
}
h1{
	color: #3DD6AF;
	font-family: 'Leckerli One', cursive;
} 
h2{
	font-family: 'Leckerli One', cursive;
	
} 
.cabecera{
	text-align: left;
	padding-top: 30px;
	padding-bottom: 40px;
}
.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #07c898;
    border-radius: 6px;
    border: 2px solid #078061;
  }
  .boton_personalizado:hover{
    color: #1883ba;
    background-color: #ffffff;
  }
#subtitulo{
	padding-left: 20px;
}
.class50{
	width: 50%;
	float: left;
}
#logo{
	width: 10%;
	float: left;
	padding: 15px;
}
#titulo{
	width: 70%;
	float: left;
}