
body{
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb{
  background: #07c898;
  border-radius:5px;
}
.boton_cerrar_sesion{
  text-decoration: none;
  font-family: 'Arima Madurai', cursive;
  padding: 3px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 25px;
  color: white;
  background-color: #0000;
  border-radius: 5px;
  border: 2px solid white;
  position:absolute;
  top:20px;
  right:10px;
}
.boton_cerrar_sesion:hover{
  background-color: #078061;
}
.boton_atras{
    text-decoration: none;
    font-family: 'Arima Madurai', cursive;
    padding: 9px;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    background-color: #07c898;
    border-radius: 6px;
    border: 2px solid #078061;
  }
  .boton_atras:hover{
    color: #1883ba;
    background-color: #ffffff;
  }
  .cabecera{
    font-family: 'Arima Madurai', cursive;
    text-align: left;
    font-size: 0.65cm;
    padding:1.8%;
    background-color: #07c898;
  }
.titulo{
  color: #05926f;
  font-size:1.7cm;
  font-family: 'Rampart One', cursive;
	text-align: center;
  margin: 10px;
}
#contenido{
  font-family: 'Arima Madurai', cursive;
    width: 70%;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.7cm;
}

.general{
  min-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 600px) {
  .titulo{
       font-size: 0.8cm;
  }
  #contenido{
    width: 75%;
    font-size: large;
    text-align: justify;
  }
  .boton_atras{
    font-size: 15px;
    border-radius: 3px;
    padding: 3px;
 }
 .cabecera{
  font-size: 0.4cm;
  }
  #logo{
  height: 60px;
  }
}
